.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s ease, color 0.3s ease;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.navbar.scrolled {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container li {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  transition: color 0.3s ease;
}

.logo:hover {
  color: orange;
  cursor: pointer;
}

.logo-image {
  height: 40px;
  width: auto;

  margin-right: -0.4rem;
}

.navbar.scrolled .logo-image {
  filter: brightness(0) saturate(100%) invert(62%) sepia(98%) saturate(2000%)
    hue-rotate(-20deg) brightness(105%) contrast(105%);
}

.navbar.scrolled .logo {
  color: rgba(1, 5, 54);
}

.nav-links.desktop {
  list-style: none;
  display: flex;
  gap: 1.4rem;
  margin: 0;
  padding: 0;
}
.nav-links.desktop a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  font-size: 1.2rem;
}
.nav-links.desktop a:hover {
  text-decoration: underline;
}
.navbar.scrolled .nav-links.desktop a {
  color: rgba(1, 5, 54);
}

.register-btn {
  align-self: center;
  background: orange;
  color: white;
  padding: 0.4rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease;
}
.register-btn:hover {
  background: darkorange;
  color: whitesmoke !important;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1101;
}
.menu-toggle .menu-icon {
  width: 40px;
  height: 40px;
  color: white;
}
.menu-toggle .close-nav {
  color: rgba(1, 5, 54);
}
.navbar.scrolled .menu-toggle .menu-icon {
  color: rgba(1, 5, 54);
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: calc(-100% - 4rem);
  height: 100vh;
  width: 250px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
  transition: right 0.2s ease;
  padding-top: 70px;
  z-index: 1100;
}
.mobile-menu.open {
  right: 0;
}
.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.mobile-menu ul li a {
  color: rgba(1, 5, 54);
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
}

.mobile-menu-overlay {
  display: none;
  position: fixed;
  z-index: 1099;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s;
}

@media (max-width: 900px) {
  .nav-links.desktop {
    display: none;
  }
  .register-btn {
    display: none;
  }
  .mobile-menu .register-btn {
    display: block;
    margin: 1rem;
    text-align: center !important;
    padding: 0.6rem 1.6rem;
  }
  .menu-toggle {
    display: flex;
    border: none;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.5rem;
  }
  .register-btn {
    font-size: 0.85rem;
    padding: 0.3rem 0.6rem;
  }
  .mobile-menu {
    width: 100vw;
    max-width: 100vw;
    text-align: center;
  }
}
