.stats-section {
  background-color: #fff;
  padding: 6rem 2rem 6rem;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2.4rem;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-number {
  font-size: 3rem;
  font-weight: bold;
  color: darkorange;
  margin: 0;
}

.stat-label {
  font-size: 1.2rem;
  color: black;
  margin-top: 0.4rem;
}

@media (max-width: 900px) {
  .stats-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .stats-grid {
    display: flex;
    gap: 2.8rem;
    justify-content: center;
  }
  .stat-number {
    font-size: 2.4rem;
  }

  .stat-label {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .stats-grid {
    flex-direction: column;
  }
}
